<!DOCTYPE html>
<html>
<head><style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;

},


</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><meta name="viewport" content="width=device-width, initial-scale=1">
<title>Investor Adventure!</title></head>
<body>
	<div class="center">
<section class="section">
    <div class="container">
      <h1 class="title">
        Investor Adventure!
      </h1>
      <p class="subtitle">
        -by Kaseem Stephenson
      </p>
      <br>
      <strong>Starting Amount: $1000</strong>
      <br>
      <a href=../1/1000>

      <button class="button is-success">Begin</button></a>
    </div>
  </section></div></body></html>
