<!DOCTYPE html>
<html>
<head><style>
.center {
  margin: auto;
  width: 60%;
  border: 3px solid #73AD21;
  padding: 10px;
  box-shadow: 10px 10px 5px grey;
  

},

</style>
<BASE href=<%= urlBase %>>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"><meta name="viewport" content="width=device-width, initial-scale=1">

<title>Investor Adventure!</title></head>
<body>
<div>
	<div class="center">
<section class="section">
    <div class="container">
      <h1 class="title">
        Investor Adventure!
      </h1>
      <p class="subtitle">
        -by Kaseem Stephenson
      </p>
      <br>
      <strong>Please Sign up</strong>
      <br>
      <form action="/signup" method="POST">
  <label for="fname">Please enter a username to save your progress..</label><br>
 <input class="input is-success" type="text" name="userName">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span> 
    <br>
    <br>
     <input class="button is-success" type="submit" value="Submit">
</form> 
    </div>
  </section></div></body></html>
